@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-1: hsl(217, 54%, 11%);
    --Very-dark-blue-2: hsl(216, 50%, 16%);
    --Very-dark-blue-3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/*CSS Reset*/

*,
::before,
::after {
    box-sizing:border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height:100vh;
    line-height:1.5;
}

img,
picture {
    max-width:100%;
    display: block;
}

/*Page styling*/

body {
    background-color: var(--Very-dark-blue-1);
    font-family: 'Outfit',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color:var(--Very-dark-blue-2);
    width:15.5rem;
    height:27rem;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 1rem 1rem 4rem hsl(216, 50%, 6%);
    transition:all ease-in-out 0.5s;
}

hr {
    border:.05rem solid var(--Very-dark-blue-3)
}

.NFT {
    border-radius: .8rem; 
    transition: all ease-out 1s;
    opacity: 1;
}

.img-container {
    position:relative;
    border-radius: .85rem; 
    transition: all 1s ease-out; 
}

.view-img{
    position:absolute;
    opacity:0%;
    top:40%;
    left:40%;
    transition: opacity ease-out 1s;   
}

.img-container:hover {
    background-color: hsl(178, 100%, 35%) ;
}

.img-container:hover .NFT{
    opacity:0.3;  
}

.img-container:hover .view-img{
    opacity:1;
}

main:hover {
    transform: scale(1.1);
}

.info-section {
    padding-top:1rem;
}

.info-section p {
    color: var(--Soft-blue);
    font-size: .8rem;
    font-weight: 300;
}

h1 {
    color:var(--White);
    font-weight: 600;
    font-size:1rem;
    transition: all 0.5s ease-out;
}

h1:hover {
    color:var(--Cyan);
}

.text-container p {
    margin-top: 1rem;
}

.cost-timer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0 1rem 0;
}

.cost, .timer {
    display: flex;
    align-items: center; 
}

.cost img, .timer img {
    margin-right: .4rem;   
}

.cost p, .timer p {
   font-size: .7rem;
}

.cost p {
   color:var(--Cyan) ;
   font-weight:400;
}

.timer {
    justify-self: flex-end;
}

.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-container img {
    width: 1.5rem;
    border: .05rem solid white;
    border-radius: 50%;
    margin-right: .7rem;
}

.user-container span {
    color:var(--White);
    transition: all 0.5s ease-out;
}

.user-container span:hover {
    color:var(--Cyan);
}